<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date createdAt}}</p>
  {{#each blog.comment as |comment|}}
  {{> comments}}
  {{/each}}  
</div>
